In [1]:
#Q1
savings=100
print(savings)

100

In [7]:
#Q2
factor=1.10
savings=100
result= savings * factor * 7
print(result)

770.0000000000001

In [11]:
#Q3
savings=100
factor=1.1
desc="compound interest"
year1= savings * factor
print(type(year1))
doubledesc= str(desc) + str(desc)
print(doubledesc)

<class 'float'>
compound interestcompound interest

In [4]:
#Q4
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, liv, bed, bath]
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [3]:
#Q5
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [21]:
#Q6
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house= [
    ["Hallway", hall],
    ["Kitchen", kit],
    ["Living Room", liv],
]
print(house)
print(type(house))

[['Hallway', 11.25], ['Kitchen', 18.0], ['Living Room', 20.0]]
<class 'list'>

In [32]:
#Q7
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(("Second element from areas:"), areas[1])
print(("Last element from areas:"), areas[-1])
print("Area of Living Room:", areas[5])

Second element from areas: 11.25
Last element from areas: 9.5
Area of Living Room: 20.0

In [2]:
#Q8
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
eat_sleep_area = areas[3] + areas[-3]
print(eat_sleep_area)

28.75

In [5]:
#Q9
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[0:6]
upstairs = areas[6:10]

# Alternative slicing to create downstairs
downstairs1 = areas[:6]

# Alternative slicing to create upstairs
upstairs1 = areas[6:]

print(downstairs)
print(upstairs)

print(downstairs1)
print(upstairs1)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [2]:
#Q10
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
areas[-1]=10.50
areas[4]="chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [6]:
#Q11
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50]
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]
areas_2=  areas + ["garage", 15.45]
print(areas)
print(areas_1)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

In [12]:
#Q12
var1 = [1, 2, 3, 4]
var2 = True
print(type(var1))
print(len(var1))
out2= int(var2)
print(out2)

<class 'list'>
4
1

In [15]:
#Q13
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
full = first + second
# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse = True)
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

In [6]:
#Q14
room = "poolhouse"
room_up = room.upper()
print(room)
print(room_up)
# Print out the number of o's in room
print(room.count('o'))

poolhouse
POOLHOUSE
3

In [7]:
#Q15
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
print(areas.index(20.0))
print(areas.count(14.5))

2
0

In [21]:
#Q16
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas.append(24.5)
areas.append(15.45)
print(areas)
areas.reverse()
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]
[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

In [23]:
#Q17
r = 0.43
import math
# Calculate Circumference
C = 2 * r * math.pi
# Calculate Area
A = math.pi * r ** 2
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

In [24]:
#Q18
r = 192500
from math import radians
dist = r * radians(12)
print(dist)

40317.10572106901

In [26]:
#Q19
baseball = [180, 215, 210, 210, 188, 176, 209, 200]
import numpy as np
np_baseball = np.array(baseball)
print(type(np_baseball))

<class 'numpy.ndarray'>

In [41]:
#Q20 ,Q21, Q23
import numpy as np
height=[11,22,33,44,55]
weight=[66,77,88,99,110]
np_height = np.array(height)

print(np_height)

# Convert np_height into m: np_height_m
np_height_m = np_height * 0.0254

# Print np_height_m
print("heights in metres", np_height_m)

# Convert weight into kg: np_weight_kg
np_weight_kg = np.array(weight) * 0.453592

# Calculate the BMI: bmi
bmi = np_weight_kg / np_height_m ** 2

# Print out bmi
print("BMI'S", bmi)

# Create the light array
light = bmi < 21

# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

[11 22 33 44 55]
heights in metres [0.2794 0.5588 0.8382 1.1176 1.397 ]
BMI'S [383.49218517 111.85188734  56.81365706  35.95239236  25.56614568]
[False False False False False]
[]

In [45]:
#Q24
baseball = [[180, 78.4],
[215, 102.7],
[210, 98.5],
[188, 75.2]]
import numpy as np

# Create a 2D numpy array from baseball: np_baseball
np_baseball = np.array(baseball)
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

In [16]:
#Q25
import numpy as np
baseball = [[180, 78.4],
[215, 102.7],
[210, 98.5],
[188, 75.2]]

updated = [[170, 68.3],
[295, 102.7],
[510, 68.5],
[158, 95.2]]

np_baseball = np.array(baseball)
print(np_baseball + updated)
conversion = np.array([0.0254, 0.453592, 1])
print(np_baseball * conversion)

[[350.  146.7]
 [510.  205.4]
 [720.  167. ]
 [346.  170.4]]

In [15]:
#Q26
import numpy as np
height=[11,22,33,44,55]
weight=[66,77,88,99,110]
np_height_in = np_baseball[:,0]
print("Mean of np_height", np.mean(np_height_in))
print("Median of np_height", np.median(np_height_in))

Mean of np_height 198.25
Median of np_height 199.0

In [5]:
#Q27
import numpy as np
height=[11,22,33,44,55]
weight=[66,77,88,99,110]
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))
med = np.median(np_baseball[:,0])
print("Median: " + str(med))
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))
corr = np.corrcoef(np_baseball[:,0], np_baseball[:,1])
print("Correlation: " + str(corr))

Average: 198.25
Median: 199.0
Standard Deviation: 14.635146053251399
Correlation: [[1.         0.95865738]
 [0.95865738 1.        ]]